* {
  font-size: 1.3rem;
}

li:nth-child(odd) {
  background: #e1e6e5;
  margin: 1rem 0;
}

.black {
  background: black;
}

.silver {
  background: rgba(88, 88, 88, 0.5);
}

.red {
  background: rgba(231, 40, 40, 0.5);
}

.green {
  background: rgba(39, 211, 76, 0.5);
}

.container-stopwatch {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
}

.stopwatch-display {
  padding: 1.5rem;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.stopwatch-display span {
  font-size: 2rem;
}

.stopwatch-control button {
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.829);
  border: none;
  cursor: -webkit-grab;
  cursor: grab;
}

.stopwatch-control button:nth-child(2) {
  margin: 0 0.5rem;
}