@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  background-color: #adfdf4;
}

.output {
  color: #fa5858;
}
.output span {
  color: #ec4bff;
}