@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  background-color: #8cf8ee;
}

.name__addition {
  color: rgba(200, 22, 252, 0.84);
}