/*indentation container*/
.container {
    width: 90%;
    margin: 0 auto;
}

/*style for header and menu*/
.header {
    display: flex;
    justify-content: space-between;
}

.header_nav {
    display: flex;
    font-size: 1.8rem;
    list-style: none;
    width: 35%;
    justify-content: space-between;
}

.header_btn {
    width: 12rem;
    padding: 1.5rem;
}

.header_nav a {
    color: var(--text_color);
    text-decoration: none;
}

.header_nav a:hover {
    color: var(--second_color);
}

/*style for logo*/

.header svg {
    overflow: visible;
    width: 9rem;
    max-height: 6.6rem;
}

.left {
    position: relative;
}

.right {
    position: relative;
}

.header svg:hover .left {
    animation: rotate_left 1.3s linear both;
}

.header svg:hover .right {
    animation: rotate-right .9s linear both;
}

.header svg:hover {
    filter: drop-shadow(0 0 0.35rem rgba(255,183,66,1));
}

/*animation for logo*/
@keyframes rotate_left {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(60px) rotateY(90deg);
    }
    100% {
        transform: translate(90px, 66px) rotateY(180deg) rotateX(180deg);
    }
}

@keyframes rotate-right {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(53px, 20px) rotateZ(90deg);
    }
    100% {
        transform: translate(90px, 66px) rotateZ(180deg);
    }
}