/*style for main screen, text*/
.main {
    margin-top: 14.4rem;
    font-family: var(--inter);
    font-style: normal;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 92vh;
    color: var(--text_color);
}

.main_greeting {
    font-size: 3.2rem;
    line-height: 5.1rem;
}

.main_greeting a{
    color: var(--second_color);
}

.main_greeting::after {
    content: "\1F44B";
    display: inline-block;
}

.main_title {
    font-size: 4.8rem;
    line-height: 9.1rem;
}

.main_specialization {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 5.1rem;
}

/*style for the card in main screen*/
.main_card {
    display: flex;
    justify-content: space-around;
    margin-top: 14.4rem;
}

.main_card img {
    max-width: 100%;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    font-family: var(--inter);
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 3.1rem;
    color: var(--text_color);
    width: 30%;
    height: 12rem;
    background-color: rgba(56, 62, 69, 0.44);
    border-radius: 1rem;
    position: relative;
}

.card_descr div:first-child{
    color: var(--second_color);
    line-height: 4rem;
    font-size: 3.2rem;
}

.card_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6.4rem;
    width: 6.4rem;
    border-radius: 50%;
    background-color: #E9E9E9;
}

.card::before {
    border-radius: inherit;
    background: linear-gradient(94.3deg, #FFB742 0%, rgba(255, 123, 66, 0.9) 99.33%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -9;
    transition: opacity .9s;
}

.card:hover::before {
    opacity: 1;
}

.card:hover .card_descr {
    color: var(--black);
}

.card:hover .card_descr div:first-child {
    color: var(--black);
}

.main_greeting:hover::after {
    animation: greeting 1s ease 0s infinite normal forwards;
}

/*animation for main_greeting class*/
@keyframes greeting {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-10px) rotate(-13deg);
    }

    30% {
        transform: translateX(10px) rotate(13deg);
    }

    45% {
        transform: translateX(-9px) rotate(-10deg);
    }

    60% {
        transform: translateX(6px) rotate(10deg);
    }

    75% {
        transform: translateX(-3px) rotate(-6deg);
    }
}