/*style for skills section and skills icons*/
.skills {
    margin: 14.4rem 5.05rem;
    display: flex;
}

.skills_head {
    width: 14.8rem;
}

.skills_title {
    font-family: var(--roboto);
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 5.6rem;
    color: var(--text_color);
}

.skills_descr {
    margin-top: 2.94rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 3.0rem;
    color: var(--text_color);
}

.skills_btn {
    margin-top: 6.32rem;
    width: 14.7rem;
    padding: 1.7rem;
}

.skills_icons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
    margin-left: 9.7rem;
}

.skills_icons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    background-color: #383E45;
    border-radius: 1rem;
    transition: all .4s;
}

.skills_icons img {
    max-width: 60%;
    max-height: 60%;
}

.skills_icons div:hover {
    background: rgba(255, 183, 66, 0.5);
    box-shadow: 0 .4rem .4rem rgba(0, 0, 0, 0.25);
}

.skills_icons div:hover img {
    animation: scale 1s ease 0s 1 normal forwards;
}

/*animation for skills icon*/
@keyframes scale {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}