:root {
    font-size: 10px;
    --inter: 'Inter', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --work_sans: 'Work Sans', sans-serif;
    --text_color: #FFF;
    --second_color: #FFB742;
    --black: #000;
    --main_background: #212529;
    --background_footer: #1C1C1C;
    --cursor: url(../img/cursor/icons8-hand-cursor-32.svg), auto;
}
