:root {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}

.left-menu {
  width: 250px;
}
.left-menu .left-menu__user {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
  grid-template-columns: 1fr 4fr;
}
.left-menu .left-menu__user img {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}
.left-menu__search input {
  background-image: url("../img/icon/search_icon.svg");
  background-repeat: no-repeat;
  padding: 1.3rem;
  padding-left: 58px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center left 13px;
}