/*connecting fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*common styles for the entire page*/
* {
    font-family: 'Roboto', sans-serif;
}

/*style for card element*/
.card {
    width: 75px;
    height: 75px;
    background-color: #426bf8;
    text-align: center;
    border-radius: 3px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    color: #FFF;
    transition: transform .3s;
}

/*style for number from card element*/
.card_number {
    font-size: 8px;
}

/*style for capital letter from card element*/
.card_element {
    font-size: 34px;
    font-weight: 700;
    transition: transform .5s;
}

/*style for full name from card element*/
.card_name {
    font-size: 10px;
}

/*style for different materials*/
.card-alkalimetals {
    background-color: #FF4242;
}

.card-earthmetals {
    background-color: #FF7042;
}

.card-transitionmetals {
    background-color: #FF8A00;
}

.card-metals {
    background-color: #14AE5C;
}

.card-metalloid {
    background-color: #1B99C1;
}

.card-nonmetal {
    background-color: #487BDE;
}

.card-halogens {
    background-color: #6448FF;
}

.card-noblegas {
    background-color: #9328FE;
}

.card-lanthanide {
    background-color: #699797;
}

.card-actinide {
    background-color: #976995;
}

/*style for empty space*/
.empty {
    height: 75px;
}

/*style for wrapped lines*/
.card_name-link {
    font-size: 12px;
}
/*style for hover*/
.card:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.card:hover .card_element {
    transform: rotate(360deg);
}