//import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//general style
* {
  font-family: 'Roboto', sans-serif;
}
body {
  text-align: center;
  background-color: #adfdf4;
}
.output {
  color: #fa5858;
  span{
    color: #ec4bff;
  }
}