//mixin for font style
@mixin font_style ($family:'Oswald', $weight:400, $size:2.4rem)
  font-family: $family, sans-serif
  font-weight: $weight
  font-size: $size
//mixin for display flex, space-between
@mixin flex_between
  display: flex
  justify-content: space-between
//mixin for button on banner
@mixin button_banner
  border: 1px solid #000000
  @include font_style('Open Sans', 300, 2.4rem)
  text-decoration: none
  color: #000
  transition: all .4s
  &:hover
    background-color: #A04955
    color: #FFF
    border: 1px solid #A04955
//mixin for production card
@mixin card
  @include flex_between
  flex-direction: column
  align-items: center
  background-color: #FFF
  &__title
    @include font_style('Oswald', 500, 2.4rem)
  &__price
    @include font_style('Oswald', 200, 1.8rem)
    span
      font-weight: 500
  &__buy
    text-decoration: none
    margin: 0
    @include font_style('Oswald', 400, 1.8rem)
    color: #FFFF
    background-color: #A04955