@import url("https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,700;1,600;1,700&family=Volkhov&display=swap");
:root {
  font-size: 10px;
}

body {
  height: 100%;
  font-family: "Rosario", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
}

.fullscreen {
  height: calc(100vh - 12.9rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12.9rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #000;
  height: 12.9rem;
  width: 100%;
}
.header__logo {
  background-color: #FFFBFB;
  height: 100%;
}
.header__logo img {
  height: 100%;
}

nav {
  width: 60%;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 3.6rem;
  height: 100%;
  font-style: italic;
}
.header__menu a {
  text-decoration: none;
  color: #FFFCFC;
}
.header__menu a:hover {
  -webkit-animation: shaking 1s ease 0s 1 normal forwards;
          animation: shaking 1s ease 0s 1 normal forwards;
}

@-webkit-keyframes shaking {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-20px) rotate(4deg);
            transform: translateX(-20px) rotate(4deg);
  }
  30% {
    -webkit-transform: translateX(10px) rotate(-4deg);
            transform: translateX(10px) rotate(-4deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes shaking {
  0%, 100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-20px) rotate(4deg);
            transform: translateX(-20px) rotate(4deg);
  }
  30% {
    -webkit-transform: translateX(10px) rotate(-4deg);
            transform: translateX(10px) rotate(-4deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
            transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
            transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
            transform: translateX(-6px) rotate(1.2deg);
  }
}
.gallery {
  padding: 7rem 4.3rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3rem 1fr 3rem 1fr 3rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr 4.5rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 4.5rem;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}
.gallery > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.gallery > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.gallery > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
.gallery > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}
.gallery > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.gallery > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
.gallery > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.gallery > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.gallery__items {
  position: relative;
  height: 100%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  opacity: 0;
}
.gallery__items img {
  border-radius: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item_1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1/1/3/2;
  height: 70%;
  -webkit-animation: fadeInLeft 1.5s ease 2s 1 normal forwards;
          animation: fadeInLeft 1.5s ease 2s 1 normal forwards;
}

.item_2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1/2/2/3;
  -webkit-animation: fadeInLeft 1.5s ease 1s 1 normal forwards;
          animation: fadeInLeft 1.5s ease 1s 1 normal forwards;
}

.item_3 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1/3/2/4;
  -webkit-animation: fadeInRight 1.5s ease 1s 1 normal forwards;
          animation: fadeInRight 1.5s ease 1s 1 normal forwards;
}

.item_4 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2/2/3/3;
  -webkit-animation: fadeInLeft 1.5s ease 1s 1 normal forwards;
          animation: fadeInLeft 1.5s ease 1s 1 normal forwards;
}

.item_5 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2/3/3/4;
  -webkit-animation: fadeInRight 1.5s ease 1s 1 normal forwards;
          animation: fadeInRight 1.5s ease 1s 1 normal forwards;
}

.item_6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-area: 1/4/3/5;
  height: 70%;
  -webkit-animation: fadeInRight 1.5s ease 2s 1 normal forwards;
          animation: fadeInRight 1.5s ease 2s 1 normal forwards;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-55rem);
            transform: translateX(-55rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-55rem);
            transform: translateX(-55rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(55rem);
            transform: translateX(55rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(55rem);
            transform: translateX(55rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.services {
  padding-top: 2.7rem;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.services:hover .services__item:nth-child(1) {
  -webkit-animation: rotate_1 7s ease 0s infinite normal forwards;
          animation: rotate_1 7s ease 0s infinite normal forwards;
}
.services:hover .services__item:nth-child(2) {
  -webkit-animation: rotate_2 7s ease 0s infinite normal forwards;
          animation: rotate_2 7s ease 0s infinite normal forwards;
}
.services:hover .services__item:nth-child(3) {
  -webkit-animation: rotate_3 7s ease 0s infinite normal forwards;
          animation: rotate_3 7s ease 0s infinite normal forwards;
}
.services:hover .services__item:nth-child(4) {
  -webkit-animation: rotate_4 7s ease 0s infinite normal forwards;
          animation: rotate_4 7s ease 0s infinite normal forwards;
}

.poster {
  width: 50%;
  background: url("../img/screen_2/scissors.jpeg") center center/cover no-repeat;
}

.services__item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__item img {
  width: 30rem;
  height: 30rem;
  border-radius: 50%;
}
.services__item p {
  margin: 0;
  text-align: center;
  font-weight: 700;
  font-size: 4.8rem;
}

@-webkit-keyframes rotate_1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  50% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  75% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes rotate_1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  50% {
    -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
  }
  75% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes rotate_2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  75% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes rotate_2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  50% {
    -webkit-transform: translate(-100%, 100%);
            transform: translate(-100%, 100%);
  }
  75% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes rotate_3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  50% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  75% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes rotate_3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  50% {
    -webkit-transform: translate(100%, -100%);
            transform: translate(100%, -100%);
  }
  75% {
    -webkit-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes rotate_4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  50% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  75% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes rotate_4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
  50% {
    -webkit-transform: translate(-100%, -100%);
            transform: translate(-100%, -100%);
  }
  75% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.personal__header {
  font-weight: 700;
  font-size: 9.6rem;
  text-align: center;
  margin: 0;
  padding-bottom: 5.1rem;
}

.personal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 67.7rem;
}
.personal__content:hover .personal__card {
  -webkit-filter: grayscale(100);
          filter: grayscale(100);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.personal__content .personal__card:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.personal__content .personal__card:hover p {
  opacity: 1;
}

.personal__card {
  border-radius: 4rem;
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.personal__card p {
  margin: 0;
  font-family: "Volkhov", sans-serif;
  font-size: 4.8rem;
  text-align: center;
  color: #FFFAFA;
  background-color: rgba(163, 83, 10, 0.7);
  height: 15.4rem;
  line-height: 15.4rem;
  border-bottom-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.person_1 {
  background: url("../img/screen_3/Meredith.jpeg") center center/cover no-repeat;
}

.person_2 {
  background: url("../img/screen_3/Jason.jpeg") center center/cover no-repeat;
}

.person_3 {
  background: url("../img/screen_3/Ryan.jpeg") center center/cover no-repeat;
}

.person_4 {
  background: url("../img/screen_3/James.jpeg") center center/cover no-repeat;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 13rem;
  font-size: 3rem;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}
.footer a {
  text-decoration: none;
  color: #000;
}
.footer a:hover {
  background-color: rgba(163, 83, 10, 0.7);
}
.footer p {
  margin: 0;
}
.footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer span {
  font-weight: 700;
}
.footer__opening h2 {
  font-size: 3.6rem;
  font-weight: 700;
  margin: 0;
  padding-bottom: 3rem;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__social h2 {
  padding-bottom: 1rem;
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}
.footer__social a {
  text-align: left;
}

.footer__social-insta:before {
  content: url("../img/icon/instagram.png");
  display: inline-block;
  padding-right: 1rem;
}

.footer__social-facebook:before {
  content: url("../img/icon/facebook.png");
  display: inline-block;
  padding-right: 1rem;
}

.footer__social-twitter:before {
  content: url("../img/icon/twiter.png");
  display: inline-block;
  padding-right: 1rem;
}

.footer__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__first h2 {
  font-size: 6.4rem;
  font-weight: 700;
  font-style: italic;
  margin: 0;
}

.footer__form {
  width: 50%;
}
.footer__form form {
  margin-top: 2rem;
  background: #E5E5E5;
  padding-bottom: 2rem;
}
.footer__form form input {
  padding-left: 1rem;
  border: none;
  height: 8rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 3.6rem;
}
.footer__form form input::-webkit-input-placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  line-height: 8rem;
}
.footer__form form input::-moz-placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  line-height: 8rem;
}
.footer__form form input:-ms-input-placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  line-height: 8rem;
}
.footer__form form input::-ms-input-placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  line-height: 8rem;
}
.footer__form form input::placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  line-height: 8rem;
}
.footer__form form #name {
  width: 40%;
}
.footer__form form #email {
  width: 45%;
  margin-left: 4.5rem;
}
.footer__form form textarea {
  padding-left: 1rem;
  border: none;
  resize: none;
  height: 20rem;
  width: 93%;
  font-size: 3.6rem;
}
.footer__form form textarea::-webkit-input-placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}
.footer__form form textarea::-moz-placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}
.footer__form form textarea:-ms-input-placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}
.footer__form form textarea::-ms-input-placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}
.footer__form form textarea::placeholder {
  font-size: 3.6rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
}

.footer__map {
  width: 50%;
  margin-left: 4.3rem;
}
.footer__map iframe {
  width: 100%;
  height: 100%;
}

.footer__first, .footer__second {
  padding-top: 4.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}