li {
  background: #e1e6e5;
}

.red {
  background-color: #ff0000;
}

.exercise15 {
  display: flex;
  align-items: center;
}

input {
  width: 100px;
  margin: 15px 0;
}

button {
  margin: 15px 0;
  background-color: #a1a0f6;
  outline: none;
  border: none;
  height: 20px;
}
button:hover {
  scale: 1.05;
  cursor: pointer;
}

.solution {
  margin: 20px 0;
}

#exrcise3 {
  display: flex;
  flex-wrap: wrap;
}
#exrcise3 div {
  margin: 0 10px;
  text-align: center;
  border: 1px solid gold;
  padding: 10px;
  background-color: #4a5c9a;
}