@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald:wght@200;400;500;600;700&display=swap");
html {
  font-size: 10px;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 6rem;
  padding-right: 6rem;
}

.uppercase {
  text-transform: uppercase;
}

.background {
  background-color: #F1F1F1;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-top__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.header-top__nav-item a {
  font-size: 2rem;
  color: #333333;
}
.header-top__nav-item a:hover {
  text-shadow: 6px 2px 4px rgba(160, 73, 85, 0.62);
}
.header-top__search input {
  color: #787878;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1rem 2rem 1rem 4rem;
  background: url(../img/icon/search.svg) no-repeat 1rem center;
  width: 27rem;
  border: 1px solid #A04955;
  border-radius: 5.4rem;
}
.header-top nav {
  width: 40%;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 7rem;
  padding-bottom: 9rem;
}
.banner .right {
  padding-right: 3rem;
}
.banner .left {
  padding-left: 6rem;
}
.banner__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.banner__title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 6.5rem;
  color: #001F3D;
}
.banner__descr {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  color: #000;
  padding-bottom: 3rem;
  line-height: 3.3rem;
}
.banner__button {
  border: 1px solid #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 0.9rem 1.2rem;
  width: 24rem;
  height: 5rem;
}
.banner__button:hover {
  background-color: #A04955;
  color: #FFF;
  border: 1px solid #A04955;
}

.production {
  padding-top: 8rem;
  text-align: center;
  color: #333;
  padding-bottom: 8rem;
}
.production__title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 3.6rem;
  margin: 0;
}
.production__descr {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 6.4rem;
  padding-top: 1.5rem;
  margin: 0;
}

.production__card {
  padding-top: 2.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  width: 18rem;
  padding: 3.1rem 5rem;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
}
.card__title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
}
.card__price {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 1.8rem;
}
.card__price span {
  font-weight: 500;
}
.card__buy {
  text-decoration: none;
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
  background-color: #A04955;
}
.card__img {
  padding-bottom: 0.5rem;
}
.card__title {
  padding-bottom: 0.5rem;
}
.card__price {
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
}
.card__buy {
  padding: 0.7rem 1rem;
}

.collection {
  padding-top: 10.7rem;
  padding-bottom: 10.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
.collection__card {
  width: 47%;
}
.collection__img {
  height: 55.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.collection__img-text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  height: 8.6rem;
  line-height: 8.6rem;
  width: 100%;
  background-color: rgba(160, 73, 85, 0.8);
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 3.6rem;
  color: #FFF;
}
.collection .left {
  background: url("../img/ecoths.png") center center/cover no-repeat;
}
.collection .right {
  background: url("../img/powell_print.png") center center/cover no-repeat;
}
.collection__descr {
  padding-top: 3.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
}
.collection__button {
  border: 1px solid #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-top: 2.5rem;
  padding: 0.9rem 1.8rem;
  width: 36.6rem;
}
.collection__button:hover {
  background-color: #A04955;
  color: #FFF;
  border: 1px solid #A04955;
}

.collection__button-aling {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.background-image {
  background: url("../img/backgroung/wood.jpeg") center center/cover no-repeat;
}

.sportif {
  padding-top: 2.2rem;
  padding-bottom: 4rem;
  width: 39%;
  color: #FFF;
}
.sportif__title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 6.5rem;
  line-height: 9.6rem;
  margin: 0;
}
.sportif__descr {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 3.3rem;
  padding-bottom: 3rem;
}
.sportif__button {
  color: white;
  padding: 0.9rem 2.1rem;
  background-color: #A04955;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
}

.trend {
  margin-top: 10rem;
  padding-top: 3rem;
  padding-bottom: 9rem;
  background: url("../img/backgroung/red.png") center 1% repeat-x;
  text-align: center;
}
.trend__title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 6.5rem;
  color: #FFF;
}

.trend__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 8.9rem;
  padding-right: 8.9rem;
}
.trend__card .card {
  border: 1px solid #A04955;
  width: 28rem;
  padding: 2rem 2rem 3.6rem 2rem;
}
.trend__card .card__img {
  padding-bottom: 1.5rem;
}
.trend__card .card__title {
  padding-bottom: 1.5rem;
}
.trend__card .card__buy {
  width: 24.2rem;
  padding: 0.8rem 0;
}

.excellence {
  padding-bottom: 8.9rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  text-align: center;
}
.excellence__title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 6.5rem;
  color: #001F3D;
  margin: 0;
}
.excellence__button {
  border: 1px solid #000000;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  text-decoration: none;
  color: #000;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  display: inline-block;
  margin-top: 3.5rem;
  padding: 1.1rem 7.3rem;
}
.excellence__button:hover {
  background-color: #A04955;
  color: #FFF;
  border: 1px solid #A04955;
}

.excellence__arrow-up {
  width: 8.3rem;
  height: 8.3rem;
  background-color: #A04955;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 90%;
  left: 90%;
}

.background-red {
  background-color: #A04955;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: white;
}
.footer a {
  color: #FFF;
}
.footer li {
  line-height: 180.8%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.footer h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 2.4rem;
  text-transform: uppercase;
}
.footer form {
  position: relative;
  padding-top: 3.5rem;
}
.footer form input {
  padding-left: 2rem;
  margin-top: 1rem;
  display: block;
  width: 50rem;
  height: 6rem;
}
.footer form input::-webkit-input-placeholder {
  color: #A04955;
}
.footer form input::-moz-placeholder {
  color: #A04955;
}
.footer form input:-ms-input-placeholder {
  color: #A04955;
}
.footer form input::-ms-input-placeholder {
  color: #A04955;
}
.footer form input::placeholder {
  color: #A04955;
}
.footer__button {
  background-color: #A04955;
  color: #FFF;
  border: none;
  position: absolute;
  top: 58%;
  left: 60%;
  padding: 1.2rem 0;
  width: 16.7rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.footer__button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.copyrighting {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem 0;
}