//import
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap')
//general style
body
  font-family: 'Work Sans', sans-serif
  font-size: 14px
  margin: 0
  h2
    font-size: 14px
    margin: 0
//style for main container
.container
  background: #FFB084
  border-radius: 20px
  padding: 27px 38px 69px 38px
  display: grid
  grid-template-areas: "person bio bio" "person goals frust" "person dream frust" "quote dream personality"
  gap: 18px 22px
  grid-template-columns: 38% 27% 29%
  grid-template-rows: 26% 25% 16% 17%
  div
    border-radius: 20px
    background-color: #FFF
    padding: 15px 25px
  ul
    margin: 7px 0
    padding: 0 0 0 20px
    li
      padding: 1px 0
//style for the card content
.person
  grid-area: person
  box-shadow: 7px 7px 0 #000
  text-align: center
  h1
    font-size: 24px
    font-weight: 700
    margin: 15px 0
  p
    text-align: left
    font-size: 12px
    span
      font-weight: 700
  img
    width: 101px
    height: 101px
    border-radius: 50%
    object-fit: cover
    border: 1px solid #EB996B
.quote
  grid-area: quote
  box-shadow: 7px 7px 0 #000
  font-weight: 700
  display: flex
  justify-content: center
  align-items: center
  p
    margin: 0
.bio
  grid-area: bio
  box-shadow: 7px 7px 0 #000
  p
    margin: 7px 0

.goals
  grid-area: goals
  box-shadow: 7px 7px 0 #29A71E
  h2
    color: #29A71E
.frustrations
  grid-area: frust
  box-shadow: 7px 7px 0 #E13535
  h2
    color: #E13535
.dream
  grid-area: dream
  box-shadow: 7px 7px 0 #3675B0
  h2
    color: #3675B0
.personality
  grid-area: personality
  box-shadow: 7px 7px 0 #000
  p
    margin: 0

//import style for responsible
@import "media"