//import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//general style
* {
  font-family: 'Roboto', sans-serif;
}
body {
  text-align: center;
  background-color: #8cf8ee;
}
//style for name of addition to document
.name__addition {
  color: rgba(200, 22, 252, 0.84);
}