@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
body {
  background: rgb(141, 194, 111);
  background: linear-gradient(90deg, rgb(141, 194, 111) 0%, rgb(118, 184, 82) 50%);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.form {
  background: #FFF;
  width: 250px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFF;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
  background: #43A047;
}

.hidden {
  opacity: 0;
  transition: all 3s;
}

.active {
  opacity: 1;
}

h2 {
  text-align: center;
  margin-bottom: 0;
}

h3 {
  margin: 0;
}

.table {
  border-collapse: collapse;
  width: 350px;
  margin: 0 auto;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.table td, .table th {
  padding: 8px;
}
.table th {
  background: #43A047;
}
.table td {
  background: rgba(67, 160, 71, 0.63);
  color: #FFF;
}