/*import fonts from google*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

/*Style text for all document*/
* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

/*style for body*/
body {
    background-color: #F0FFF0;
}

/*style for general card*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 404px;
    height: 490px;
    background-color: #000;
    text-align: center;
}

/*style for logo*/
.card_logo {
    margin: 13px auto;
    width: 132px;
    height: 132px;
    border: 4px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

/*style for image from logo*/
.card_logo img {
    width: 70px;
    height: 70px;
}

/*style for card header*/
.card_header {
    margin-top: 26px;
    font-weight: 600;
    font-size: 29px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.39em;
    color: #FFF;
}

/*indentation for first button*/
.card_btn-margin {
    margin-top: 56px;
}

/*style for link(buttons)*/
.card_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 298px;
    height: 46px;
    border: 4px solid #FFF;
    margin-top: 26px;
    color: #FFF;
    font-weight: 800;
    font-size: 19px;
    letter-spacing: 0.12em;
    text-decoration: none;
    text-transform: uppercase;
}

/*style for hover effect*/
.card_btn:hover {
    border-color: #C830FAD6;
    color: #C830FAD6;
}

.card_logo:hover {
    box-shadow: 7px 9px 20px -2px rgba(200, 48, 250, 0.84);
}