@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");
body {
  font-family: "Work Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}
body h2 {
  font-size: 14px;
  margin: 0;
}

.container {
  background: #FFB084;
  border-radius: 20px;
  padding: 27px 38px 69px 38px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "person bio bio" "person goals frust" "person dream frust" "quote dream personality";
  gap: 18px 22px;
  -ms-grid-columns: 38% 22px 27% 22px 29%;
  grid-template-columns: 38% 27% 29%;
  -ms-grid-rows: 26% 18px 25% 18px 16% 18px 17%;
  grid-template-rows: 26% 25% 16% 17%;
}
.container div {
  border-radius: 20px;
  background-color: #FFF;
  padding: 15px 25px;
}
.container ul {
  margin: 7px 0;
  padding: 0 0 0 20px;
}
.container ul li {
  padding: 1px 0;
}

.person {
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  grid-area: person;
  -webkit-box-shadow: 7px 7px 0 #000;
          box-shadow: 7px 7px 0 #000;
  text-align: center;
}
.person h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 15px 0;
}
.person p {
  text-align: left;
  font-size: 12px;
}
.person p span {
  font-weight: 700;
}
.person img {
  width: 101px;
  height: 101px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #EB996B;
}

.quote {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: quote;
  -webkit-box-shadow: 7px 7px 0 #000;
          box-shadow: 7px 7px 0 #000;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quote p {
  margin: 0;
}

.bio {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: bio;
  -webkit-box-shadow: 7px 7px 0 #000;
          box-shadow: 7px 7px 0 #000;
}
.bio p {
  margin: 7px 0;
}

.goals {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: goals;
  -webkit-box-shadow: 7px 7px 0 #29A71E;
          box-shadow: 7px 7px 0 #29A71E;
}
.goals h2 {
  color: #29A71E;
}

.frustrations {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: frust;
  -webkit-box-shadow: 7px 7px 0 #E13535;
          box-shadow: 7px 7px 0 #E13535;
}
.frustrations h2 {
  color: #E13535;
}

.dream {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: dream;
  -webkit-box-shadow: 7px 7px 0 #3675B0;
          box-shadow: 7px 7px 0 #3675B0;
}
.dream h2 {
  color: #3675B0;
}

.personality {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
  grid-area: personality;
  -webkit-box-shadow: 7px 7px 0 #000;
          box-shadow: 7px 7px 0 #000;
}
.personality p {
  margin: 0;
}

@media screen and (max-width: 741px) {
  .container {
    padding: 27px 30px 69px 20px;
    -ms-grid-rows: 26% 27% 16% 17%;
    grid-template-rows: 26% 27% 16% 17%;
  }
  .container div {
    padding: 10px 12px;
  }

  .person p {
    margin: 4px 0;
  }
  .person h1 {
    margin: 0;
  }

  body {
    font-size: 12px;
    margin: 0;
  }
}
@media screen and (max-width: 520px) {
  .container {
        grid-template-areas: "person" "bio" "goals" "dream" "personality" "quote";
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    -ms-grid-rows: 25% 15% 11% 15% 10% 7%;
    grid-template-rows: 25% 15% 11% 15% 10% 7%;
    text-align: center;
  }

  body {
    font-size: 14px;
  }

  ul {
    text-align: left;
  }
  ul li {
    margin-left: 10%;
  }

  .person p {
    margin: 9px 0;
    text-align: center;
  }
  .person {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .quote {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .bio {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .goals {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .dream {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
  }
  .personality {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}