//colors
$main-color: #7C7C7A;
$user-name-color: #222133;
$main-bg-color: #F5F5F5;
$arrow-bg-light: #4A49CB;
$arrow-bg-dark: #A492FF;
$bg-second-color: #424444;
$box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

//colors for dark theme
$dark-main-color: #C0BFBD;
$dark-bg-color: #242625;
$dark-name-color: #EFEFEF;

//fonts style
$font-size: 1.6rem;
$font-family: 'Open Sans', sans-serif;