//style for list
li {
  background: #e1e6e5;
}
//style for span
.red {
  background-color: #ff0000;
}
//style for exercise №15
.exercise15 {
  display: flex;
  align-items: center;
}
//style for input
input {
  width: 100px;
  margin: 15px 0;
}
//style for button
button {
  margin: 15px 0;
  background-color: #a1a0f6;
  outline: none;
  border: none;
  height: 20px;
  &:hover {
    scale: 1.05;
    cursor: pointer;
  }
}
//style for solution
.solution {
  margin: 20px 0;
}
//style for card
#exrcise3 {
  display: flex;
  flex-wrap: wrap;
  div {
    margin: 0 10px;
    text-align: center;
    border: 1px solid gold;
    padding: 10px;
    background-color: #4a5c9a;
  }
}