//import fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
//general style
* {
  font-family: 'Roboto', sans-serif;
}
body {
  text-align: center;
  background-color: #adfdf4;
  a {
    margin-top: 40px;
    display: inline-block;
  }
}
.output {
  color: #6b6868;
  span{
    color: #ec4bff;
  }
}