//general style
* {
  font-size: 1.1rem;
}
//style for list
li {
  background: #e1e6e5;
}
//style for span
.red {
  background-color: #ff0000;
}
//style for exercise №15
.exercise15 {
  display: flex;
  align-items: center;
}