@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
body {
  font-family: "Comfortaa", cursive;
  text-align: center;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.content {
  margin: 0 auto;
  width: 70%;
}
.content a {
  text-decoration: none;
  color: #7b19d3;
}
.content h4 {
  margin-bottom: 5px;
}
.content p {
  margin: 0;
}