@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  margin: 0;
}

.main__container {
  max-height: 100%;
  width: 45%;
  background-color: #FFF;
  padding: 5rem 7.5rem 0 7.5rem;
}

.banner-registration {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
}
.banner-registration img {
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.aling_right {
  text-align: right;
}
.aling_right img {
  padding-left: 1rem;
}

.header {
  padding-top: 3rem;
  padding-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}
.header h1 {
  font-weight: 700;
  font-size: 5.4rem;
  color: #42505C;
  margin: 0;
  padding: 0;
  line-height: 6.8rem;
}
.header p {
  margin: 0;
  padding-left: 7rem;
  padding-right: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
}

.registration {
  padding-top: 3rem;
  border-top: 0.1rem dashed rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1rem;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}
.registration__input input {
  height: 4.8rem;
  width: 28.1rem;
  padding-left: 1.7rem;
  border: 1px solid #D1D1D1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
.registration__input label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.registration__radio {
  width: 30.2rem;
}
.registration__radio .radio__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.registration__radio input {
  display: none;
}
.registration__radio input:checked + label {
  color: #4743E0;
  -webkit-box-shadow: 0 0 1.4rem rgba(71, 67, 224, 0.2);
          box-shadow: 0 0 1.4rem rgba(71, 67, 224, 0.2);
  border: 1px solid #4743E0;
}
.registration__radio input:checked + label span {
  opacity: 1;
}
.registration__radio label {
  border: 1px solid #D1D1D1;
  height: 5.2rem;
  width: 6.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
.registration__radio label span {
  opacity: 0.4;
}
.registration__radio .radio__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.last_word {
  opacity: 0.3;
}

.line {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  width: 100%;
  border-bottom: 0.1rem dashed rgba(0, 0, 0, 0.2);
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
body a {
  text-decoration: none;
  color: #4743E0;
}

.main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #E5E5E5;
}

.container {
  height: 100%;
  width: 37%;
  background-color: #FFF;
}

.banner {
  width: 67%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
}
.banner img {
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.login {
  padding: 16.8rem 9rem 0 9rem;
}
.login__header {
  font-weight: 700;
  font-size: 5.4rem;
  color: #42505C;
  margin: 0;
}
.login__descr {
  color: #404040;
}
.login__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-top: 0.1rem dashed rgba(0, 0, 0, 0.2);
  padding-top: 4rem;
  padding-bottom: 7.2rem;
}

.form__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #333333;
}

.form__username {
  background: url("../img/icon/user.svg") no-repeat center left 8%;
  height: 4.8rem;
  width: 85%;
  padding-left: 14%;
  border: 1px solid #D1D1D1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  border-bottom: none;
}
.form__username:focus {
  background: url("../img/icon/user_focus.svg") no-repeat center left 8%;
}

.form__password {
  background: url("../img/icon/pass.svg") no-repeat center left 8%;
  height: 4.8rem;
  width: 85%;
  padding-left: 14%;
  border: 1px solid #D1D1D1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
}
.form__password:focus {
  background: url("../img/icon/pass_focus.svg") no-repeat center left 8%;
}

.form__forgot {
  padding-top: 1.4rem;
  border-bottom: 0.1rem dashed rgba(0, 0, 0, 0.2);
  padding-bottom: 3.5rem;
}
.form__forgot:after {
  display: block;
  left: 0;
  bottom: -1rem;
  width: 0;
  height: 0.2rem;
  background-color: #56baed;
  content: "";
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
.form__forgot:hover:after {
  width: 40%;
}

.check {
  width: 100%;
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.check div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.check input {
  border: 1px solid #D1D1D1;
  width: 2.4rem;
  height: 2.4rem;
}
.check label {
  padding-left: 1.5rem;
}
.check button {
  background-color: #4743E0;
  border: none;
  outline: none;
  width: 10.2rem;
  height: 4.8rem;
  color: #FFF;
}
.check button:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 1.4rem rgba(71, 67, 224, 0.2);
          box-shadow: 0 0 1.4rem rgba(71, 67, 224, 0.2);
}

.register {
  text-align: center;
  margin-top: 8.5rem;
}
.register__title {
  color: #333333;
  opacity: 0.3;
}
.register__link {
  color: #4743E0;
}